# YCMD CONF
.ycm_extra_conf.pyc
# TAGS CONF
.ctags
cscope.out
.tags
aclocal.m4
AUTHORS
ChangeLog
compile
config.log
INSTALL
config.status
configure
depcomp
install-sh
Makefile
Makefile.am
Makefile.in
missing
NEWS
stamp-h1
./autom4te.cache
src/.deps/
lib/.deps/
